.flowtime,
.ft-section {
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0)
}
.disabled,
.ft-overview .ft-page * {
    pointer-events: none
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1;
    white-space: nowrap
}
b,
strong {
    font-weight: 700
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
body,
html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none
}
.nojavascript {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 3em
}
.ft-page,
.ft-section {
    width: 100%;
    height: 100%;
    position: relative
}
.flowtime {
    font-size: 0;
    width: 100%;
    height: 100%;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s cubic-bezier(.77, .1, .22, 1);
    transition: transform .5s cubic-bezier(.77, .1, .22, 1);
    transition: transform .5s cubic-bezier(.77, .1, .22, 1), -webkit-transform .5s cubic-bezier(.77, .1, .22, 1)
}
.flowtime.no-transition {
    transition: -webkit-transform 0s;
    transition: transform 0s;
    transition: transform 0s, -webkit-transform 0s
}
.ft-section {
    -webkit-transform: translateZ(0);
            transform: translateZ(0)
}
.ft-section,
.ft-section-thumb {
    font-size: 16px;
    font-size: 1rem;
    white-space: normal;
    display: inline-block;
    vertical-align: top
}
.ft-page {
    box-sizing: border-box;
    z-index: auto;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.ft-page.actual {
    z-index: 100
}
.ft-overview .ft-page {
    cursor: pointer;
    transition: all .5s cubic-bezier(.77, .1, .22, 1);
    -ms-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}
.ft-absolute-nav {
    overflow: hidden
}
.ft-absolute-nav .flowtime {
    position: absolute
}
.ft-fragment {
    opacity: 0;
    transition: all .4s cubic-bezier(.77, .1, .22, 1);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.ft-fragment.revealed.step {
    opacity: .3
}
.ft-fragment.revealed.shy {
    opacity: 0
}
.ft-fragment.revealed,
.ft-fragment.revealed-temp,
.ft-fragment.revealed.actual {
    opacity: 1
}
.ft-default-progress {
    position: fixed;
    z-index: 1000;
    opacity: .3;
    transition: all .5s cubic-bezier(.77, .1, .22, 1)
}
.flowtime dt,
.parallax {
    position: relative
}
.ft-default-progress:hover {
    opacity: 1
}
.ft-overview .ft-default-progress {
    opacity: 0;
    pointer-events: none
}
.ft-page-thumb {
    box-sizing: border-box;
    width: 18px;
    height: 12px;
    margin-right: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    transition: all .3s cubic-bezier(.77, .1, .22, 1)
}
.ft-page-thumb:hover {
    background-color: rgba(255, 255, 255, .7)
}
img {
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.parallax {
    transition: all .5s cubic-bezier(.5, .1, .5, 1)
}
.ft-overview .parallax {
    -ms-transform: translate3d(0, 0, 0)!important;
    -webkit-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important
}
@font-face {
    font-family: RuiHeiXiTi;
    src: url(../fonts/RuiHeiXiTi.otf) format('truetype');
    font-weight: 700;
    font-style: normal
}
html {
    font-size: 100%;
    line-height: 1.5rem;
    background-color: #aaa;
    color: #6e2d52;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .4)
}
.flowtime .attention,
.flowtime strong {
    text-shadow: 1px 2px 0 #000, 1px -1px 0 rgba(0, 0, 0, .3), -1px -1px 0 rgba(0, 0, 0, .3), -1px 1px 0 rgba(0, 0, 0, .3)
}
body,
button {
    font-family: RuiHeiXiTi, sans-serif
}
.credits,
.navigation,
.switches {
    display: none
}
.ft-page {
    padding: 1em;
    background-color: #fed1ea;
    text-align: center
}
.flowtime dd,
.flowtime dl,
.flowtime dt,
.flowtime h1,
.flowtime h2,
.flowtime h3,
.flowtime h4,
.flowtime h5,
.flowtime h6,
.flowtime li,
.flowtime ol,
.flowtime p,
.flowtime ul {
    display: block;
    transition: all .3s cubic-bezier(.77, .1, .22, 1)
}
.flowtime h1,
.flowtime h2,
.flowtime h3,
.flowtime h4,
.flowtime h5,
.flowtime h6 {
    font-weight: 700;
    color: #613b3b;
    padding-top: 1em
}
.flowtime h1 {
    font-size: 4rem;
    line-height: 4.3rem
}
.flowtime h2 {
    font-size: 3rem;
    line-height: 3.3rem
}
.flowtime h3 {
    font-size: 2.5rem;
    line-height: 3rem
}
.flowtime h4,
.flowtime h5,
.flowtime h6 {
    font-size: 1.75rem;
    line-height: 2rem
}
.flowtime dl,
.flowtime ol,
.flowtime p,
.flowtime ul {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 2rem 0
}
.flowtime dl,
.flowtime ol,
.flowtime ul {
    margin: 0 2rem
}
.flowtime dd,
.flowtime li {
    line-height: 1.75rem;
    margin-bottom: 1rem;
    position: relative
}
.flowtime dl dt:before,
.flowtime ul li:before {
    content: "\2022";
    text-align: right;
    color: #fd0;
    margin-right: .5rem;
    display: inline-block;
    position: absolute;
    left: -1rem
}
.flowtime ol {
    counter-reset: list
}
.flowtime ol li:before {
    content: counter(list) ".";
    counter-increment: list;
    font-size: .75em;
    color: #fd0;
    margin-right: .5rem;
    display: inline-block;
    position: relative;
    top: -.075em
}
.flowtime dl dd {
    font-size: .8em;
    margin-left: 1rem
}
.flowtime small {
    font-size: .6em;
    vertical-align: middle
}
.flowtime code,
.flowtime pre {
    font-family: monospace;
    margin: 1rem 0
}
.flowtime strong {
    font-weight: 700;
    color: #fd0
}
.flowtime q {
    quotes: "“" "”"
}
.flowtime q:before {
    content: open-quote
}
.flowtime q:after {
    content: close-quote
}
.flowtime blockquote {
    font-size: 1.5rem;
    margin: 1.5rem 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .3);
    border-left: .5rem solid rgba(255, 255, 255, .5);
    border-radius: .5rem
}
.full-img,
.left-img {
    padding: 0
}
.flowtime blockquote,
.flowtime cite,
.flowtime q {
    font-style: italic
}
.flowtime .small {
    font-size: .6em
}
.flowtime .attention {
    color: red
}
.flowtime sup {
    font-size: .7em;
    position: relative;
    top: -.5em
}
.flowtime a,
.flowtime a:active,
.flowtime a:focus,
.flowtime a:link,
.flowtime a:visited {
    color: #666;
    text-decoration: none
}
.flowtime a:hover {
    color: #666;
    text-decoration: underline
}
.flowtime a:active img,
.flowtime a:focus img,
.flowtime a:hover img {
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, .5)
}
.flowtime .stack {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    position: relative
}
.flowtime .stacked {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
}
.flowtime img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto
}
.flowtime .stack-center {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem
}
.flowtime .stack-center:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle
}
.flowtime .stack-center .stacked-center {
    white-space: normal;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle
}
@media screen and (min-height:41em) and (min-width:80em) {
    html {
        font-size: 120%
    }
}
@media screen and (min-height:50em) and (min-width:90em) {
    html {
        font-size: 140%
    }
}
@media screen and (max-device-height:578px) {
    html {
        font-size: 50%
    }
}
.parallax-demo {
    overflow: hidden
}
.parallax-demo .kingmix {
    position: absolute;
    left: 20%;
    bottom: -10%;
    z-index: 50
}
.parallax-demo .sax {
    position: absolute;
    left: 6%;
    bottom: -18%;
    z-index: 40
}
.parallax-demo .tone {
    position: absolute;
    left: 49%;
    bottom: -32%;
    z-index: 30
}
.ft-overview .section-1 {
    margin-top: 0
}
.ft-overview .section-2,
.ft-overview .section-3 {
    margin-top: -40%
}
.ft-overview .section-4 {
    margin-top: 0
}
.ft-overview .section-5 {
    margin-top: 60%
}
.ft-overview .section-6 {
    margin-top: 0
}
.ft-overview .section-7,
.ft-overview .section-8 {
    margin-top: -40%
}
.ft-overview .section-9 {
    margin-top: 0
}
.ft-page-thumb {
    background-color: #a54479
}
.ft-page-thumb.actual {
    background-color: #44a54a;
    border: 0
}
.ft-default-progress {
    bottom: 3rem;
    right: 2rem
}
.thumb-section-0,
.thumb-section-3 {
    position: relative;
    top: 13px
}
.thumb-section-4 {
    position: relative;
    top: 26px
}
.thumb-section-5,
.thumb-section-8 {
    position: relative;
    top: 13px
}
.left-img {
    text-align: left
}
.left-img img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1
}
.left-img .text,
.left-img h3,
.left-img p {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    text-align: right
}
.full-img img {
    width: 100%;
    height: 100%
}
.full-img .center-text,
.full-img .text,
.full-img h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2
}
.full-img .text .text {
    position: relative;
}
.right-img {
    padding: 0;
    text-align: left
}
.right-img .text,
.right-img img {
    position: absolute
}
.right-img img {
    margin: 0;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1
}
.right-img .text {
    left: 0;
    top: 0;
    z-index: 2;
    padding: 2em
}
.center-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat
}
.top-text {
    padding: 0
}
.bottom-text h3 {
    height: 10%;
    padding-bottom: 10%
}
.bottom-text img {
    height: 80%
}
.page {
    text-align: left;
}
.page p {
    font-size: 1em
}
.page .text {
    text-align: left;
    font-size: 2em;
    color: white;
    line-height: 2em;
    margin: 2em 2em
}

.page-bg {
    background-image: url(../img/iali75_bg.jpg)
}
.page-bg h1 {
  color: white;
}

.disabled {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none
}
.mPower {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999
}
#off,
#on {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;
    filter: alpha(opacity=.8);
    opacity: .8;
    cursor: pointer
}
#off:hover,
#on:hover {
    filter: alpha(opacity=4);
    opacity: 1
}
#on {
    background: url(http://q99sxupaw.bkt.clouddn.com/img/music.png)
}
#off {
    background: url(http://q99sxupaw.bkt.clouddn.com/img/mute.png) left center no-repeat;
    display: none
}
